<%- partial('_partial/lyy_side') %>
<div class="content">
  <div class="content_warp">
    <% site.categories.each(function(category){ %>
      <span class="post_tag"><a class="" href="<%- url_for(category.path) %>"><%= category.name %><a></span>
    <% }) %>
  </div>
</div>
