html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row;
  height: 100%;
}
p,
span,
a,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  font-size: 12px;
}
h1,
h2,
h3,
h4 {
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}
.post_tag a {
  color: #999999;
  text-decoration: none;
}
.post_tag a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.content {
  flex: 1;
  overflow-y: scroll;
}
.content .content_warp {
  margin: 30px;
  max-width: 700px;
}
.side {
  width: 33%;
  height: 100%;
  background-color: #f5f5f5;
}
.side .side_header {
  height: 300px;
  width: 100%;
  display: flex;
  flex-flow: column-reverse;
}
.side .side_header .side_header_name {
  text-align: center;
}
.side .side_header .side_header_name p {
  margin: 10px  0px;
  font-size: 26px;
  text-align: center;
}
.side .side_header .side_header_img {
  text-align: center;
}
.side .side_header .side_header_img img {
  width: 110px;
  height: 110px;
  border-radius: 66%;
  background-size: cover;
}
.side .side_nav_warp {
  text-align: center;
}
.side .side_nav_warp .side_nav {
  width: 33%;
  display: inline-block;
}
.side .side_nav_warp .side_nav .side_nav_item p {
  margin: 5px 0px;
  font-size: 12px;
}
.side .side_nav_warp .side_nav .side_nav_item p a {
  text-decoration: none;
  color: #555555;
  font-weight: normal;
  font-size: 12px;
  font-weight: 1.5;
}
.side .side_nav_warp .side_nav .side_nav_item p a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #993333;
}
@media screen and (max-width: 600px) {
  .side {
    width: 50px;
  }
  .side .side_header {
    min-height: 33%;
  }
  .side .side_header .side_header_img {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
  }
  .side .side_header .side_header_img img {
    width: 45px;
    height: 45px;
    border-radius: 90px;
    background-size: cover;
  }
}
.index_content_post_list {
  margin-bottom: 50px;
  border-bottom: 1px dashed #d9d9d9;
}
.index_content_post_list .post_title_warp {
  border-left: 2px solid #993333;
}
.index_content_post_list .post_title_warp .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #555555;
  font-weight: bold;
  font-size: 22px;
  font-weight: 1.5;
  margin: 10px;
}
.index_content_post_list .post_title_warp a {
  text-decoration: none;
  color: #555555;
  font-weight: bold;
  font-size: 22px;
  font-weight: 1.5;
}
.index_content_post_list .post_title_warp a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #993333;
}
.index_content_post_list .post_content_warp {
  margin: 20px 13px;
}
.index_content_post_list .post_content_warp p {
  color: #999999;
  font-size: 16px;
  font-weight: 1.7;
}
.index_content_post_list .post_content_warp a {
  text-decoration: none;
  color: #993333;
  font-size: 16px;
  font-weight: 1.7;
}
.index_content_post_list .post_content_warp img {
  width: 100%;
  height: 100%;
}
.index_content_post_list .post_tag_warp {
  margin-left: 13px;
  color: #999999;
}
.index_content_post_list .post_tag_warp .post_tag span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.index_content_post_list .post_tag_warp div {
  display: inline-block;
}
.post_content .post_title_warp .title {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #555555;
  margin: 10px;
}
.post_content .post_title_warp a {
  color: #555555;
  font-weight: bold;
  font-size: 28px;
  font-weight: 1.5;
}
.post_content .post_title_warp a:hover {
  cursor: default;
}
.post_content .post_content_warp {
  margin: 60px 13px 20px 13px;
}
.post_content .post_content_warp p,
.post_content .post_content_warp li {
  color: #999999;
  font-size: 16px;
  font-weight: 1.7;
}
.post_content .post_content_warp a {
  text-decoration: none;
  color: #993333;
  font-size: 16px;
  font-weight: 1.7;
}
.post_content .post_content_warp pre {
  padding: 10px 0px;
}
.post_content .post_content_warp img {
  margin: 10px 0px;
  max-width: 100%;
  max-height: 100%;
}
.post_content .post_tag_warp {
  margin-left: 13px;
  color: #999999;
  border-top: 1px dashed #d9d9d9;
}
.post_content .post_tag_warp .post_tag span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.post_content .post_tag_warp div {
  display: inline-block;
}
.post_content .post_tag_warp .post_next {
  float: right;
}
.post_content .post_tag_warp .post_next a {
  color: #999999;
  text-decoration: none;
}
.post_content .post_tag_warp .post_next a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.archive_content .archive_content_list {
  margin-bottom: 20px;
}
.archive_content .archive_content_list ul {
  margin-left: 25px;
}
.archive_content .archive_content_list .archive_date {
  color: #993333;
  font-size: 28px;
  margin-bottom: 10px;
}
.archive_content .archive_content_list .archive_title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #555555;
}
.archive_content .archive_content_list a {
  text-decoration: none;
  color: #555555;
  font-weight: normal;
  font-size: 18px;
  font-weight: 1.5;
}
.archive_content .archive_content_list a:hover {
  cursor: pointer;
  color: #993333;
  text-decoration: underline;
}
