<div class="side">
  <div class="side_header">
    <div class="side_header_name"><p>坚果贩子</p></div>
    <div class="side_header_img">
      <img src='/touxiang.jpg'></img>
    </div>
  </div>
  <div class="side_nav_warp">
    <div class="side_nav">
      <div class="side_nav_item"><p>归档</p></div>
      <div class="side_nav_item"><p>分类</p></div>
      <div class="side_nav_item"><p>关于我</p></div>
    </div>

  </div>
</div>
