<div class="side">
  <div class="side_header">
    <div class="side_header_name"><p>坚果贩子</p></div>
    <div class="side_header_img">
      <a href='/'><img src='http://of6m03mmi.bkt.clouddn.com/touxiang.jpg'></img></a>
    </div>
  </div>
  <div class="side_nav_warp">
    <div class="side_nav">
      <div class="side_nav_item"><p><a target="_self" href='/archives'>归档</a></p></div>
      <div class="side_nav_item"><p>分类</p></div>
      <div class="side_nav_item"><p>关于我</p></div>
    </div>
  </div>
</div>
